style.css
body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
}

.introduction{
    width: 100%;
    margin: 0 auto;
}
.half_width{
    width: 40%;
    height: 400px;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 20px;
    border: 2px solid red;
}
.intro_img img{
    width: 55%;
}
.about_img img{
    width: 65%;    
}

.name_highlight{
    color:salmon;    
}
p{
    font-weight: 300;
    color:dimgray;
    width: 90%;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 10px;
    text-align: justify;    
}
h1{
    font-size: 80px;
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
}
h2{
    font-size: 40px;
}
.link_button{
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    padding: 10px 30px;
    background-image: linear-gradient(90deg, cyan, blue);
    color: white;
    border-radius: 10px;       
}